@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.section {
  display: flex;
  gap: 2rem;
  height:100vh;
  align-items: center;
  padding: 4rem 8rem;
  background:linear-gradient(to bottom right, rgb(8, 0, 48), rgb(0, 0, 0));
  /* background-color: black; */
  color: #fff;
}

.reverse {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
  position: relative;
  font-family: 'Goldman', cursive;
}

.number {
  font-size: 6rem;
  opacity: 0.12;
  position: absolute;
  top: -20px;
  left: 0;
}

.text h2 {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  color: #00bcd4;
}

.text p {
  font-size: 2rem;
  color: #ccc;
}

.image {
  flex: 1;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #333;
  color: #fff;
}
