.page {
  max-width: 100%;
  height: 100vh;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:url("../../assets/images/resource-bg.jpg");
  color: #f1f1f1;
  box-sizing: border-box;
  overflow-y:auto
}

.page h1{
  color: rgb(165, 239, 255);
  padding-left: 38rem;
  font-size: 40px;
}

.page h1 span{
  color: rgb(62, 136, 255);
}

.page h3{
  font-size: 25px;
}

.uploadForm {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
  align-items: flex-end;
  width: 100%;
}

.input {
  padding: 0.5rem;
  width: 250px;
  background-color: #2a2a2a8b;
  border: 1px solid #444;
  border-radius: 4px;
  color: #f1f1f1;
}

.input::placeholder {
  color: #aaa;
}


.btn {
  padding: 0.6rem 1rem;
  background-color: #008597;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}
.uploadIconBtn {
  padding: 0.5rem 1rem;
  background-color: #008597;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}
.uploadIconBtn:hover,
.btn:hover {
  background-color: #008fa1;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.searchbtn{
  padding: 0.6rem 1rem;
  background-color: #008597;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.searchbtn:hover {
  background-color: #008fa1;
}


.filterSection {
  margin-top: 1rem;
}

.filterSection label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ccc;
}



.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 0 10rem; 
}

.card {
  position: relative; 
  border: 1px solid #444;
  padding: 2rem;
  padding-top: 2rem; 
  padding-bottom: 2rem;
  border-radius: 10px;
	background: linear-gradient(to bottom right, rgba(13, 68, 47, 0.4), rgba(2, 34, 163, 0.7));
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}



.card:hover {
  transform: translateY(-3px);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.cardHeader .title {
  color: rgb(125, 144, 255);
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.cardHeader a {
  font-size: 0.9rem;
	background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(12, 14, 23, 0.7));
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  color: #00bcd4;
  text-decoration: none;
}

.cardHeader a:hover {
  background-color: #333;
  text-decoration: underline;
}


.rating {
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.star {
  color: #555;
}

.selectedStar {
  color: gold;
}

.avatarName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.95rem;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #666;
}



.sectionTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
